# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/

# Docker Local Storage Directories
postgres_data/
redis_data/
minio_data/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.agent/
backend/dap
backend/dap.exe

ListKC.pdf